$background-image: './../assets/images/bg.jpg';
$background-image-mobile: './../assets/images/bg-mobile.jpg';
$background-overlay-pattern: './../assets/images/pattern.png';
$avatar-image: './../assets/images/avatar.jpg';
$shadow-color: rgba(146, 146, 146, 0.5);
$body-font-family: 'Montserrat';
$header-font-family: 'Oswald';

$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-short: 580px;
